path/to/largefile filter=lfs diff=lfs merge=lfs -text
wp-content/debug.log filter=lfs diff=lfs merge=lfs -text
tidasports_wpsite.sql filter=lfs diff=lfs merge=lfs -text
wp-content/uploads.zip filter=lfs diff=lfs merge=lfs -text
